*{
	box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
}

.header {
	background: rgb(255, 226, 0);
	width: 100%;
	height: 67px;
	padding: 5px;
}
#gamburger-img{
	 width:42px; 
	 position: absolute; 
	 left:71px; 
	 transform: rotate(270deg) scale(1,-1); 
	 margin-top: 3px;
}